.primarybg{  background: #d42027;}
.secondarybg{ background: #0b173e;}
.greybg{background: #f0edff;}

.header-top {
  background: #feeeef;
  
  padding: 10px 0;
}
.header-top a,
.header-top p,
.header-top li {
  
  padding-bottom: 0;
  margin-bottom: 0;
}


.header-top li:last-child p::after{display: none;}



.header-top .phone {
  float: left;
}
.header-top .social {
  float: right;
}
.header-wrapper {
  position: relative;
}
.slider .slides li img {
  background-position: top;
  width: 100% !important;
  height: auto !important ;
}
.desktoplogo img,
.footer-logo img {
  max-height: 45px;
  position: relative;
}
.clear {
  clear: both;
}
.footer-copyright {
  text-align: center;
}
.slider,
.slider .slides {
  width: 100%;
  height: auto !important;
}
 #whychooseus{background: #1a0d52;}
#gallery-1 {
  padding-bottom: 70px !important;
}
#whychooseus img{max-width: 100%; display: block; margin: 0 auto ;}
.fbox-2 {
  border: solid 1px #eee;
  padding: 30px 50px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 0 rgba(10, 10, 10, 0.05);
  box-shadow: 0px 5px 10px 0 rgba(10, 10, 10, 0.05);
}
.custom-list {
  margin-top: 30px;
}
.custom-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
.custom-list li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 7px;
  width: 10px;
  height: 10px;
  background: #d42027;
  border-radius: 100%;
}

.page-title {
  color: #d42027;
  font-size: 50px;
  line-height: 46px;
  position: relative;
  padding: 0 0 40px 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.page-title::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 0;
  background: url("../images/favicon.png") #fff;
  width: 20px;
  height: 20px;
  background-size: cover;
  z-index: 2;
}
.page-title::after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 8px;
  width: 60%;
  height: 1px;
  background: #ccc;
  z-index: 1;
}

#about .page-title::before {
  background-color: #f0f2f8;
}

#whychooseus .page-title,
#whychooseus h3,
#whychooseus p{color: #fff;}
.gallery-section.bg-50 .slick-dots li button:before {
  background: #0b173e;
}
.gallery-section.bg-50 .slick-dots li button:hover:before,
.gallery-section.bg-50 .slick-dots li.slick-active button:before {
  background: #d42027;
}
.btn-primary{background: #d42027;}
.main-slider{width: 100%;}

.main-banner{width: 100%;}

.main-banner .slick-slide{width: 100%;}
.main-banner .slick-slide  img{width: 100%; height: auto;}
.main-banner.slick-dotted.slick-slider{margin: 0;}
.fbox-img{border-radius: 100%; width: 300px; height: 300px;}
.fbox-img img{width: 100% ; height: 100%; border-radius: 100%   ; object-fit: cover;}
#features-10{background: #1a0d52; text-align: center;}
#features-10  .page-title, #features-10 p, 
#gallery-1 .page-title, #gallery-1 p, #content-11,
#content-11 .page-title, 
#content-11 p{color: #fff;}
#features-10 img{max-width: 100%;}
#content-11{margin-top: -30px; }
 #gallery-1, #content-11{
    background: #1a0d52;
  }
 #vision-mission {background:#e9e9ea}
    #content-11:after{display: none;}
#content-11 {}
.gallery-carousel1 figure{width: 100%; height: 250px; margin: 0 15px; background: #fff;}
.gallery-carousel1 figure img{
  width: 100%;
  height: 100%;
  display: block;
  margin: auto ;
  object-fit: contain;
}

.wsmenu>.wsmenu-list>li>a{font-size: 13px; padding: 10px 8px; margin: 0 5px; }

input, select, textarea{border-color: #ccc !important;}

.hero-section{background: #f0edff; padding: 30px 30px; margin-bottom: 30px;}
.main-banner .item{text-align: center;  margin: 0 10px; height: auto !important;


border: solid 1px #eee;
padding: 15px 15px;
background-color: #fff;
-webkit-box-shadow: 0px 5px 10px 0 rgba(10, 10, 10, 0.05);
box-shadow: 0px 5px 10px 0 rgba(10, 10, 10, 0.05);}


.main-banner .item iframe{width: 100%; height: 500px !important; margin-bottom: 10px; display: block; margin: 0 auto 10px auto; border: solid 1px #ccc;}
.main-banner .item h3{font-size: 24px; font-weight: 700; color: #1a0d52;}
.fbox-2{min-height: 300px;}




@media (min-width: 992px) and (max-width: 1199.95px){
  .wsmenu>.wsmenu-list>li>a{font-size: 13px !important; padding: 10px 12px !important;}
}

@media   (max-width: 991px) {

  #header{border: none;}
    .hero-section{margin-top:30px !important;}
        .header-top{display: none;}
                .wide-60{padding: 40px 0 !important;}
.page-title{font-size: 30px;}
#about{text-align: center;}

.fbox-2{padding: 15px !important;}
.gallery-carousel1 figure{}
#content-11{text-align: center; background: #1a0d52; padding-top: 30px; padding-bottom: 20px;}
#content-11 .m-top{order: 2; margin-top: 30px !important;}
#gallery-1{padding-top: 30px;}
#content-11 .container{padding: 0;}
#reviews-1{text-align: center;}
footer{text-align: center;}

#reviews-1 .col-md-4{margin-bottom: 30px; order: 1;}
#reviews-1 .col-md-8{order: 2;}
}